<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/layout/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Datos Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="user">
    <form [formGroup]="dataFormGroup" (ngSubmit)="saveChanges()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                Primer Nombre
              </ion-label>
              <ion-input formControlName="firstName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">
                Apellido
              </ion-label>
              <ion-input formControlName="lastName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input formControlName="displayName"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6" offset="3">
            <ion-button
              color="success"
              type="submit"
              expand="block"
              [disabled]="!dataFormGroup.valid || changesSent"
            >
              <span *ngIf="!changesSent">Save Changes</span>
              <ion-spinner
                *ngIf="changesSent"
                class="ion-text-center"
              ></ion-spinner>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ng-container>

  <ng-container *ngIf="!user">
    <ion-spinner class="center"></ion-spinner>
  </ng-container>
</ion-content>
