<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/layout/cart">
        <ion-icon name="cart" slot="start" ></ion-icon>
        <ion-badge color="primary" slot="end" color="danger">
          {{ user.cart.length }}
        </ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="activeTab">
      <ion-segment-button
        *ngFor="let segment of exploreSegments; let i = index"
        [value]="i"
      >
        <ion-text>
          {{ segment.name }}
        </ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <ion-infinite-scroll (ionInfinite)="loadMoreSkins()" #ionInfScroll1>
        <ion-infinite-scroll-content>
          <ion-grid>
            <ion-row>
              <ng-container *ngIf="skins.length !== 0">
                <ion-col size="6" *ngFor="let skin of skins">
                  <app-product
                    [product]="skin"
                    [cartAdd]="addToCart"
                  ></app-product>
                </ion-col>
              </ng-container>
              <ng-container *ngIf="skins.length === 0">
                <ion-col size="6" *ngFor="let i of array(4)">
                  <ion-card>
                    <ion-card-header>
                      <ion-thumbnail class="ion-text-center" width="100%">
                        <ion-skeleton-text></ion-skeleton-text>
                      </ion-thumbnail>
                    </ion-card-header>

                    <ion-card-content>
                      <ion-skeleton-text animated></ion-skeleton-text>
                      <ion-skeleton-text animated></ion-skeleton-text>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ng-container>
            </ion-row>
          </ion-grid>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-slide>
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>
</ion-content>
