<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/layout/cart">
        <ion-icon name="cart">`
        
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment (ionChange)="segmentChanged()" [(ngModel)]="activeTab">
      <ion-segment-button *ngFor="let segment of exploreSegments; let i = index;" [value]="i">
        <ion-text>
          {{ segment.name }}
        </ion-text>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides (ionSlideDidChange)="slideChange()">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let skin of skins">
              <app-product [product]="skin" [cartAdd]="addToCart"></app-product>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide></ion-slide>
    <ion-slide></ion-slide>
  </ion-slides>

</ion-content>
