<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nuevo Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
  <form [formGroup]="productFormGroup">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nombre de Producto</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Descripcion de Producto</ion-label>
            <ion-textarea formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Precio de Producto</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>% de Descuento</ion-label>
            <ion-select interface="action-sheet" formControlName="discount">
              <ion-select-option *ngFor="let disc of array(100)" [value]="disc">
                {{ disc }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Tipo de Producto</ion-label>
            <ion-select interface="popover" formControlName="type">
              <ion-select-option value="skin">Skin</ion-select-option>
              <ion-select-option value="card">Tarjeta de RP</ion-select-option>
              <ion-select-option value="bundle">Bundle</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Disponiblidad</ion-label>
            <ion-input type="number" formControlName="availability"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="6">
          <app-image-picker
            [showPreview]="productFormGroup.get('image').value"
            (imagePicked)="onImagePicked($event)"
            (urlPicked)="onImagePicked($event, true)"
          ></app-image-picker>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" offset="4" class="ion-text-center">
          <ion-button
            type="submit"
            color="success"
            (click)="addNewProduct()"
            [disabled]="!productFormGroup.valid"
          >
            Agregar Producto
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
