<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Modificar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loadedProduct">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-no-padding">
          <ion-img [src]="loadedProduct.image"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h1>{{ loadedProduct.name }}</h1>

          <h2>{{ loadedProduct.price | currency }}</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-text>
            <p>{{ loadedProduct.description }}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <ng-container class="ion-text-center" *ngIf="!loadedProduct">
    <ion-spinner class="ion-margin"></ion-spinner>
  </ng-container>
</ion-content>
